    # # # version: '3.9'

    # # # services:
    # # #   catalogdb:
    # # #     container_name: catalogdb
    # # #     image: postgres:latest
    # # #     environment:
    # # #       - POSTGRES_USER=postgres
    # # #       - POSTGRES_PASSWORD=postgres
    # # #       - POSTGRES_DB=CatalogDb
    # # #     restart: always
    # # #     ports:
    # # #       - "5432:5432"
    # # #     volumes:
    # # #       - postgres_catalog:/var/lib/postgresql/data
    # # #   basketdb:
    # # #     container_name: basketdb
    # # #     image: postgres:latest
    # # #     environment:
    # # #       - POSTGRES_USER=postgres
    # # #       - POSTGRES_PASSWORD=postgres
    # # #       - POSTGRES_DB=BasketDb
    # # #     restart: always
    # # #     ports:
    # # #       - "5433:5432"
    # # #     volumes:
    # # #       - postgres_basket:/var/lib/postgresql/data

    # # #   pgadmin:
    # # #     container_name: pgadmin
    # # #     image: dpage/pgadmin4:latest
    # # #     restart: always
    # # #     environment:
    # # #       PGADMIN_DEFAULT_EMAIL: admin@admin.com
    # # #       PGADMIN_DEFAULT_PASSWORD: admin
    # # #     ports:
    # # #       - "5055:80"
    # # #     depends_on:
    # # #       - catalogdb

    # # #   catalog.api:
    # # #     environment:
    # # #       - ASPNETCORE_ENVIRONMENT=Development
    # # #       - ASPNETCORE_HTTP_PORTS=8080
    # # #       - ASPNETCORE_HTTPS_PORTS=8081
    # # #       - ConnectionStrings__Database=Server=catalogdb;Port=5432;Database=CatalogDb;User Id=postgres;password=postgres;Include Error Detail=true
    # # #     depends_on:
    # # #       - catalogdb
    # # #     ports:
    # # #       - "6000:8080"
    # # #       - "6060:8081"
    # # #     volumes:
    # # #       - ${APPDATA}/Microsoft/UserSecrets:/home/app/.microsoft/usersecrets:ro
    # # #       - ${APPDATA}/Microsoft/UserSecrets:/root/.microsoft/usersecrets:ro
    # # #       - ${APPDATA}/ASP.NET/Https:/home/app/.aspnet/https:ro
    # # #       - ${APPDATA}/ASP.NET/Https:/root/.aspnet/https:ro
    # # # volumes:
    # # #   postgres_catalog:


    # # version: '3.9'

    # # services:
    # #   catalogdb:
    # #     container_name: catalogdb
    # #     image: postgres:latest
    # #     environment:
    # #       - POSTGRES_USER=postgres
    # #       - POSTGRES_PASSWORD=postgres
    # #       - POSTGRES_DB=CatalogDb
    # #     restart: always
    # #     ports:
    # #       - "5432:5432"
    # #     volumes:
    # #       - postgres_catalog:/var/lib/postgresql/data

    # #   basketdb:
    # #     container_name: basketdb
    # #     image: postgres:latest
    # #     environment:
    # #       - POSTGRES_USER=postgres
    # #       - POSTGRES_PASSWORD=postgres
    # #       - POSTGRES_DB=BasketDb
    # #     restart: always
    # #     ports:
    # #       - "5433:5432"
    # #     volumes:
    # #       - postgres_basket:/var/lib/postgresql/data
    # #   distributedcache:
    # #       container_name: distributedcache
    # #       image: redis:latest
    # #       restart: always
    # #       ports:
    # #         - "6379:6379"
    # #   pgadmin:
    # #     container_name: pgadmin
    # #     image: dpage/pgadmin4:latest
    # #     restart: always
    # #     environment:
    # #       PGADMIN_DEFAULT_EMAIL: admin@admin.com
    # #       PGADMIN_DEFAULT_PASSWORD: admin
    # #     ports:
    # #       - "5055:80"
    # #     depends_on:
    # #       - catalogdb
    # #       - basketdb

    # #   catalog.api:
    # #     container_name: catalogapi
    # #     image: ${DOCKER_REGISTRY-}catalogapi
    # #     build:
    # #       context: .
    # #       dockerfile: Services/Catalog/Catalog.API/Dockerfile
    # #     environment:
    # #       - ASPNETCORE_ENVIRONMENT=Development
    # #       - ASPNETCORE_HTTP_PORTS=8080
    # #       - ConnectionStrings__Database=Server=catalogdb;Port=5432;Database=CatalogDb;User Id=postgres;password=postgres;Include Error Detail=true
    # #     depends_on:
    # #       - catalogdb
    # #     ports:
    # #       - "6000:8080"
    # #       - "6060:8081"
    # #     volumes:
    # #       - ${APPDATA}/Microsoft/UserSecrets:/home/app/.microsoft/usersecrets:ro
    # #       - ${APPDATA}/ASP.NET/Https:/home/app/.aspnet/https:ro

    # #   basket.api:
    # #     container_name: basketapi
    # #     image: ${DOCKER_REGISTRY-}basketapi
    # #     build:
    # #       context: .
    # #       dockerfile: Services/Basket/Basket.API/Dockerfile
    # #     environment:
    # #       - ASPNETCORE_ENVIRONMENT=Development
    # #       - ASPNETCORE_HTTP_PORTS=8080
    # #       - ConnectionStrings__Database=Server=basketdb;Port=5432;Database=BasketDb;User Id=postgres;password=postgres;Include Error Detail=true
    # #       - ConnectionStrings__Redis=distributedcache:6379
    # #     depends_on:
    # #       - basketdb
    # #       - distributedcache
    # #     ports:
    # #       - "6001:8080"
    # #       - "6061:8081"
    # #     volumes:
    # #       - ${APPDATA}/Microsoft/UserSecrets:/home/app/.microsoft/usersecrets:ro
    # #       - ${APPDATA}/ASP.NET/Https:/home/app/.aspnet/https:ro

    # # volumes:
    # #   postgres_catalog:
    # #   postgres_basket:

    # version: '3.9'

    # services:
    #   catalogdb:
    #     image: postgres:latest
    #     container_name: catalogdb
    #     environment:
    #       - POSTGRES_USER=postgres
    #       - POSTGRES_PASSWORD=postgres
    #       - POSTGRES_DB=CatalogDb
    #     ports:
    #       - "5432:5432"
    #     volumes:
    #       - postgres_catalog:/var/lib/postgresql/data

    #   basketdb:
    #     image: postgres:latest
    #     container_name: basketdb
    #     environment:
    #       - POSTGRES_USER=postgres
    #       - POSTGRES_PASSWORD=postgres
    #       - POSTGRES_DB=BasketDb
    #     ports:
    #       - "5433:5432"
    #     volumes:
    #       - postgres_basket:/var/lib/postgresql/data

    #   distributedcache:
    #     image: redis:latest
    #     container_name: distributedcache
    #     ports:
    #       - "6379:6379"
    #   orderdb:
    #     container_name: orderdb
    #     environment:
    #       - ACCEPT_EULA=Y
    #       - SA_PASSWORD=swN12345678
    #     restart: always
    #     ports:
    #         - "1433:1433"
    #   messagebroker:
    #     container_name: messagebroker
    #     hostname: ecommerce-mq
    #     environment:
    #         - RABBITMQ_DEFAULT_USER=guest
    #         - RABBITMQ_DEFAULT_PASS=guest
    #     restart: always
    #     ports:
    #       - "5672:5672"
    #       - "15672:15672"
    #   pgadmin:
    #     image: dpage/pgadmin4:latest
    #     container_name: pgadmin
    #     environment:
    #       PGADMIN_DEFAULT_EMAIL: admin@admin.com
    #       PGADMIN_DEFAULT_PASSWORD: admin
    #     ports:
    #       - "5055:80"
    #     depends_on:
    #       - catalogdb
    #       - basketdb

    #   catalog.api:
    #     build:
    #       context: .
    #       dockerfile: Services/Catalog/Catalog.API/Dockerfile
    #     container_name: catalogapi
    #     environment:
    #       - ASPNETCORE_ENVIRONMENT=Development
    #       - ASPNETCORE_HTTP_PORTS=8080
    #       - ConnectionStrings__Database=Host=catalogdb;Port=5432;Database=CatalogDb;Username=postgres;Password=postgres;Include Error Detail=true
    #     depends_on:
    #       - catalogdb
    #     ports:
    #       - "6000:8080"

    #   basket.api:
    #     build:
    #       context: .
    #       dockerfile: Services/Basket/Basket.API/Dockerfile
    #     container_name: basketapi
    #     environment:
    #       - ASPNETCORE_ENVIRONMENT=Development
    #       - ASPNETCORE_HTTP_PORTS=8080
    #       - ConnectionStrings__Database=Host=basketdb;Port=5432;Database=BasketDb;Username=postgres;Password=postgres;Include Error Detail=true
    #       - ConnectionStrings__Redis=distributedcache:6379
    #       - GrpcSettings__DiscountUrl=http://discountgrpc:8080   
    #       - MessageBroker__Host=amqp://ecommerce-mq:5672
    #       - MessageBroker__UserName=guest
    #       - MessageBroker__Password=guest
    #     depends_on:
    #       - basketdb
    #       - distributedcache
    #       - discount.grpc 
    #       - messagebroker 
    #     ports:
    #       - "6001:8080"

    #   discount.grpc:
    #     container_name: discountgrpc
    #     image: ${DOCKER_REGISTRY-}discountgrpc
    #     build:
    #       context: .
    #       dockerfile: Services/Discount/Discount.Grpc/Dockerfile
    #     environment:
    #       - ASPNETCORE_ENVIRONMENT=Development
    #       - ASPNETCORE_HTTP_PORTS=8080
    #       - ConnectionStrings__Database=Data Source=/app/discount.db
    #     depends_on:
    #       - basketdb
    #       - catalogdb
    #     ports:
    #       - "6002:8080"
    #     volumes:
    #       - ${APPDATA}/Microsoft/UserSecrets:/home/app/.microsoft/usersecrets:ro
    #       - ${APPDATA}/Microsoft/UserSecrets:/root/.microsoft/usersecrets:ro
    #       - ${APPDATA}/ASP.NET/Https:/home/app/.aspnet/https:ro
    #       - ${APPDATA}/ASP.NET/Https:/root/.aspnet/https:ro

    #   ordering.api:
    #     environment:
    #       - ASPNETCORE_ENVIRONMENT=Development
    #       - ASPNETCORE_HTTP_PORTS=8080
    #       - ASPNETCORE_HTTPS_PORTS=8081
    #       - ConnectionStrings__Database=Host=orderDb;Port=5432;Database=OrderDb;Username=postgres;Password=postgres;Include Error Detail=true
    #       - MessageBroker__Host=amqp://ecommerce-mq:5672
    #       - MessageBroker__UserName=guest
    #       - MessageBroker__Password=guest
    #       - FeatureManagement__OrderFulfillment=false
    #     depends_on:
    #       - orderdb
    #       - messagebroker 
    #     ports:
    #       - "6003:8080"
    #     volumes:
    #       - ${APPDATA}/Microsoft/UserSecrets:/home/app/.microsoft/usersecrets:ro
    #       - ${APPDATA}/Microsoft/UserSecrets:/root/.microsoft/usersecrets:ro
    #       - ${APPDATA}/ASP.NET/Https:/home/app/.aspnet/https:ro
    #       - ${APPDATA}/ASP.NET/Https:/root/.aspnet/https:ro
    # volumes:
    #   postgres_catalog:
    #   postgres_basket:



    version: '3.9'

    services:
      catalogdb:
        image: postgres:latest
        container_name: catalogdb
        environment:
          - POSTGRES_USER=postgres
          - POSTGRES_PASSWORD=postgres
          - POSTGRES_DB=CatalogDb
        ports:
          - "5432:5432"
        volumes:
          - postgres_catalog:/var/lib/postgresql/data

      basketdb:
        image: postgres:latest
        container_name: basketdb
        environment:
          - POSTGRES_USER=postgres
          - POSTGRES_PASSWORD=postgres
          - POSTGRES_DB=BasketDb
        ports:
          - "5433:5432"
        volumes:
          - postgres_basket:/var/lib/postgresql/data

      distributedcache:
        image: redis:latest
        container_name: distributedcache
        ports:
          - "6379:6379"

      orderdb:
        image: mcr.microsoft.com/mssql/server:2019-latest
        container_name: orderdb
        environment:
          - ACCEPT_EULA=Y
          - SA_PASSWORD=swN12345678
        restart: always
        ports:
          - "1433:1433"

      messagebroker:
        image: rabbitmq:3-management
        container_name: messagebroker
        hostname: ecommerce-mq
        environment:
          - RABBITMQ_DEFAULT_USER=guest
          - RABBITMQ_DEFAULT_PASS=guest
        restart: always
        ports:
          - "5672:5672"
          - "15672:15672"

      pgadmin:
        image: dpage/pgadmin4:latest
        container_name: pgadmin
        environment:
          PGADMIN_DEFAULT_EMAIL: admin@admin.com
          PGADMIN_DEFAULT_PASSWORD: admin
        ports:
          - "5055:80"
        depends_on:
          - catalogdb
          - basketdb

      catalog.api:
        container_name: catalogapi
        build:
          context: .
          dockerfile: Services/Catalog/Catalog.API/Dockerfile
        environment:
          - ASPNETCORE_ENVIRONMENT=Development
          - ASPNETCORE_HTTP_PORTS=8080
          - ConnectionStrings__Database=Host=catalogdb;Port=5432;Database=CatalogDb;Username=postgres;Password=postgres;Include Error Detail=true
        depends_on:
          - catalogdb
        ports:
          - "6000:8080"

      basket.api:
        container_name: basketapi
        build:
          context: .
          dockerfile: Services/Basket/Basket.API/Dockerfile
        environment:
          - ASPNETCORE_ENVIRONMENT=Development
          - ASPNETCORE_HTTP_PORTS=8080
          - ConnectionStrings__Database=Host=basketdb;Port=5432;Database=BasketDb;Username=postgres;Password=postgres;Include Error Detail=true
          - ConnectionStrings__Redis=distributedcache:6379
          - GrpcSettings__DiscountUrl=http://discountgrpc:8080
          - MessageBroker__Host=amqp://ecommerce-mq:5672
          - MessageBroker__UserName=guest
          - MessageBroker__Password=guest
        depends_on:
          - basketdb
          - distributedcache
          - discount.grpc
          - messagebroker
        ports:
          - "6001:8080"

      discount.grpc:
        container_name: discountgrpc
        build:
          context: .
          dockerfile: Services/Discount/Discount.Grpc/Dockerfile
        environment:
          - ASPNETCORE_ENVIRONMENT=Development
          - ASPNETCORE_HTTP_PORTS=8080
          - ConnectionStrings__Database=Data Source=/app/discount.db
        depends_on:
          - basketdb
          - catalogdb
        ports:
          - "6002:8080"
        volumes:
          - ${APPDATA}/Microsoft/UserSecrets:/home/app/.microsoft/usersecrets:ro
          - ${APPDATA}/Microsoft/UserSecrets:/root/.microsoft/usersecrets:ro
          - ${APPDATA}/ASP.NET/Https:/home/app/.aspnet/https:ro
          - ${APPDATA}/ASP.NET/Https:/root/.aspnet/https:ro

      ordering.api:
        container_name: orderingapi
        build:
          context: .
          dockerfile: Services/Ordering/Ordering.API/Dockerfile
        environment:
          - ASPNETCORE_ENVIRONMENT=Development
          - ASPNETCORE_HTTP_PORTS=8080
          - ASPNETCORE_HTTPS_PORTS=8081
          - ConnectionStrings__Database=Server=orderdb,1433;Database=OrderDb;User Id=sa;Password=swN12345678;Encrypt=False;TrustServerCertificate=True
          - MessageBroker__Host=amqp://ecommerce-mq:5672
          - MessageBroker__UserName=guest
          - MessageBroker__Password=guest
          - FeatureManagement__OrderFulfillment=false
        depends_on:
          - orderdb
          - messagebroker
        ports:
          - "6003:8080"
        volumes:
          - ${APPDATA}/Microsoft/UserSecrets:/home/app/.microsoft/usersecrets:ro
          - ${APPDATA}/Microsoft/UserSecrets:/root/.microsoft/usersecrets:ro
          - ${APPDATA}/ASP.NET/Https:/home/app/.aspnet/https:ro
          - ${APPDATA}/ASP.NET/Https:/root/.aspnet/https:ro

      yarpapigateway:
        container_name: yarpapigateway
        environment:
          - ASPNETCORE_ENVIRONMENT=Development
          - ASPNETCORE_HTTP_PORTS=8080
        depends_on:
          - catalog.api
          - basket.api
          - ordering.api
        ports:
          - "6004:8080"
        volumes:
          - ${APPDATA}/Microsoft/UserSecrets:/home/app/.microsoft/usersecrets:ro
          - ${APPDATA}/Microsoft/UserSecrets:/root/.microsoft/usersecrets:ro
          - ${APPDATA}/ASP.NET/Https:/home/app/.aspnet/https:ro
          - ${APPDATA}/ASP.NET/Https:/root/.aspnet/https:ro


